{% extends "base.twig.html" %}
{% block body %}
    <div class="pusher">
        <div class="full height">
            <div class="ui stripe vertical segment">
                <div class="ui stackable very relaxed grid container">
                    <div class="fourteen wide center aligned centered column">
                        <h1 class="ui header">家計簿</h1>
                    </div>
                </div>
            </div>
            <a href=""><div class="ui button"><div class="visible content">一覧</div></div></a>
            <a href="./?action=write"><div class="ui button"><div class="visible content">記入</div></div></a>
        </div>
    </div>
{% endblock %}
